
###> learnaway-api symfony/framework-bundle ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/public/bundles/
/api/var/
/api/vendor/
###< learnaway-api symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/api/.web-server-pid
###< symfony/web-server-bundle ###
